{% extends 'base.html.twig'%}
{% block body %}
    <div class="container-fluid">
        <form method="post" action="{{ path('admin_creer_utilisateur') }}">
            <legend>Ajouter un compte</legend>

            {% if erreurs.email is defined %}
                <div style="color: red">{{ erreurs.email }}</div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
                </div>
                <input type="text" class="form-control {% if erreurs.email is defined %}border border-danger{% endif %}"
                       aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="email"
                       value="{{donnees.email|default('')}}">
            </div>



            {% if erreurs.role is defined %}
                <div style="color: red">{{ erreurs.role }}</div>
            {% endif %}
            <div class="input-group mb-3 ">
                <div class="input-group-prepend">
                    <label class="input-group-text " for="inputGroupSelect01">Rôle</label>
                </div>
                <select class="custom-select {% if erreurs.role is defined %}border border-danger{% endif %}" id="inputGroupSelect01" name="role">
                    <option selected>Veuillez sélectionner un rôle</option>
                    <option value="1">Professeur(e)</option>
                    <option value="2">Étudiant(e)</option>
                </select>
            </div>


            <input type="hidden" name="token" value="{{ csrf_token('form_user') }}">

            <button type="submit" class="btn btn-primary">{{ button|default('Valider') }}</button>
        </form>
    </div>
{% endblock %}