{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid"><br>
        <button type="button" class="btn btn-outline-primary"><a href="{{ path('add_projet') }}">Nouveau projet</a></button>

        <h1>Liste des projets</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Sujet</th>
                <th scope="col">Description</th>
                <th scope="col">Date début</th>
                <th scope="col">option</th>
            </tr>
            </thead>
            <tbody>
            {% for projet in projets %}
                <tr>
                    <td>{{ projet.sujet }}</td>
                    <td>{{ projet.description }}</td>

                    <td>{{ projet.date|date('Y') }}</td>
                    <td>
                        <a href="{{ path('details_projet', {id: projet.id}) }}" class="btn btn-primary">details</a>
                        <a href="{{ path('edit_projet', {id: projet.id}) }}" class="btn btn-primary">modifier</a>
                        <a href="{{ path('projet_list_depot', {idProjet: projet.id}) }}" class="btn btn-primary">depot</a>
                        <form action="{{ path('delete_projet') }}" method="POST" style="display:inline">
                            <input type="hidden" name="token" value="{{ csrf_token('projet_delete') }}">
                            <input type="hidden" name="id" value="{{ projet.id }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-warning">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}