{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <h1>Liste des projets</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Sujet</th>
                <th scope="col">Description</th>
                <th scope="col">Date début</th>
                <th scope="col">
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROF') %}option{% endif %}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for projet in donnees %}
                <tr>
                    <td>{{ projet.sujet }}</td>
                    <td>{{ projet.description }}</td>

                    <td>{{ projet.date|date('d/m/Y') }}</td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROF') %}
                            <a href="{{ path('details_projet', {id: projet.id}) }}" class="btn btn-primary">details</a>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('edit_projet', {id: projet.id}) }}" class="btn btn-primary">modifier</a>
                        <form action="{{ path('delete_projet') }}" method="POST" style="display:inline">
                            <input type="hidden" name="token" value="{{ csrf_token('projet_delete') }}">
                            <input type="hidden" name="id" value="{{ projet.id }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-warning">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}