{% extends 'base.html.twig'%}
{% block body %}
    <div class="container-fluid">
        <form method="post" action="{{ path('admin_creer_utilisateur') }}">
            <legend>Ajouter un compte</legend>

            <div class="form-group">
                <label>email :</label>
                <input name="email"  type="text"  size="18" value="{{donnees.email|default('')}}" class="form-control">
                {% if erreurs.email is defined %}
                    <div style="color: red">{{ erreurs.email }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label>role :</label>
                <input type="radio" name="role" value="1" ><label for="role">professeur</label>
                <input type="radio" name="role" value="2" ><label for="role">étudiant(e)</label>
                {% if erreurs.role is defined %}
                    <div style="color: red">{{ erreurs.role }}</div>
                {% endif %}
            </div>
            <input type="hidden" name="token" value="{{ csrf_token('form_user') }}">

            <button type="submit" class="btn btn-primary">{{ button|default('Valider') }}</button>
        </form>
    </div>
{% endblock %}