{% extends 'base.html.twig' %}
{% block body %}
    <h1>Liste des utilisateurs</h1>
    <table>
        <tr>
            <th>nom</th><th>prenom</th><th>email</th><th>option</th>
        </tr>
        {% for user in donnees %}
            {% if user.roles != ['ROLE_ADMIN','ROLE_USER'] %}
                <tr>
                    <th>{% if user.nom %}{{ user.nom }}{% else %}<label> aucun nom renseigner</label>{% endif %}</th>
                    <th>{% if user.prenom %}{{ user.prenom }}{% else %}<label> aucun prenom renseigner</label>{% endif %}</th>
                    <th>{{ user.email }}</th>
                    <th>
                        <a href="{{ path('admin_edit_utilisateur', {id: user.id}) }}" class="btn btn-primary">modifier</a>
                        {% if user.roles != ['ROLE_ADMIN','ROLE_USER'] %}
                        <form action="{{ path('admin_delete_utilisateur') }}" method="POST" style="display:inline">
                            <input type="hidden" name="token" value="{{ csrf_token('user_delete') }}">
                            <input type="hidden" name="id" value="{{ user.id }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-warning">Supprimer</button>
                        </form>
                        {% endif %}
                    </th>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}