{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <h1>Fichier</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Depot</th>
                <th scope="col">date depot</th>
                <th scope="col">projet</th>
                <th scope="col">Option</th>
            </tr>
            </thead>
            <body>
            {% if fichiers %}
                {% for fichier in fichiers %}
                    <tr>
                        <td>
                            <a href="{{ asset('uploads/brochures/' ~ fichier.brochureFilename) }}">{{ fichier.brochureFilename}}</a>
                        </td>
                        <td>
                            {{ fichier.dateDepot|date('d/m/Y H:i') }}
                        </td>
                        <td>
                            {{ fichier.projet.sujet }}
                        </td>
                        <td>
                            <form action="{{ path('admin_delete_fichier',{idProjet: fichier.projet.id }) }}" method="POST" style="display:inline">
                                <input type="hidden" name="token" value="{{ csrf_token('fichier_delete') }}">
                                <input type="hidden" name="idFichier" value="{{ fichier.id }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-warning">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td>
                    Aucun document déposer
                </td>
            {% endif %}
            </body>
        </table>
    </div>
{% endblock %}