{% extends 'base.html.twig'%}
{% block body %}
<div class="container-fluid">
    <form method="post" action="{{ path('user_profil_edit') }}">
        <legend>Profil</legend>

        {% if erreurs.nom is defined %}
            <div style="color: red">{{ erreurs.nom }}</div>
        {% endif %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Nom</span>
            </div>
            <input type="text" placeholder="Entrer votre nom" class="form-control {% if erreurs.nom is defined %}border border-danger{% endif %}"
                   aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="nom" value="{{donnees.nom|default('')}}">
        </div>

        {% if erreurs.prenom is defined %}
            <div style="color: red">{{ erreurs.prenom }}</div>
        {% endif %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Prenom</span>
            </div>
            <input type="text" placeholder="Entrer votre prenom" class="form-control {% if erreurs.prenom is defined %}border border-danger{% endif %}"
                   aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="prenom" value="{{donnees.prenom|default('')}}">
        </div>

        {% if erreurs.email is defined %}
            <div style="color: red">{{ erreurs.email }}</div>
        {% endif %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
            </div>
            <input type="text" placeholder="Entrer votre email" class="form-control {% if erreurs.email is defined %}border border-danger{% endif %}"
                   aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="email" value="{{donnees.email|default('')}}">
        </div>

        <input type="hidden" name="token" value="{{ csrf_token('form_profil') }}">
        <button type="submit" class="btn btn-primary">{{ button|default('Valider') }}</button>

    </form>
</div>
{% endblock %}